{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Родії{% endblock meta_title %}
{% block title %}Додавання подій{% endblock title %}
{% block status_message %}
{% if errors %}
<div class="alert alert-warning" role="alert">
Будь-ласка, виправте наступні помилки
</div>
{% endif %}
{% endblock status_message %}
{% block content %}
<form action="{% url "podii_edit" podii.id %}" method="post"
enctype="multipart/form-data" role="form" class="form-horizontal">
{% csrf_token %}

<h1 class="h1">Редагування події</h1>

<!--name-->
<div class="form-group {% if errors.name %}has-error{% endif%}">
<label for="" class="col-sm-2 control-label">Заголовок*</label>
<div class="col-sm-10">
<input type="text" value="{{ podii.name }}"
name="name" class="form-control" />
<span class="help-block">{{ errors.name }}</span>
</div>
</div>

<!--photo-->
<div class="form-group {% if errors.photo %}has-error{% endif%}">
<label for="photo" class="col-sm-2 control-label">Фото</label>
<div class="col-sm-10">
<input type="file" value="" name="photo" class="form-control" />
<span class="help-block">{{ errors.photo }}</span>
</div>
</div>


  
<!--text-->

<div class="form-group {% if errors.text %}has-error{% endif%}">
<label for="text" class="col-sm-2 control-label">Текст статі</label>
<div class="col-sm-10">
<input type="text" value="{{ podii.text }}"
name="text" class="form-control" />
<span class="help-block">{{ errors.text }}</span>
</div>
</div>


<!--buttom-->
<div class="form-group">
<label class="col-sm-2 control-label"></label>
<div class="col-sm-10">
<input type="submit" value="Зберегти" name="add_button"
class="btn btn-primary" />
<button type="submit" name="cancel_button"
class="btn btn-link">Скасувати</button>
</div>
</div>
</form>
Поля, позначені  зірочкою,  обовязкові  для  заповнення!
{% endblock content %}